<a href="https://colab.research.google.com/github/mnocerino23/Numerical-Analysis/blob/main/166_finalproject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework Problems for Aitken's Method

# Problem 1a

In [1301]:
import pandas as pd
import numpy as np

In [1302]:
#create functions in python for the function f(x) and f'(x)
def f(x):
  return ((x**3)+(x**2)-(5*x)+3)
def fprime(x):
  return ((3*(x**2))+(2*x)-5)

In [1303]:
#my newton's method function from HW4
def newtons_method(function, derivative, p, iterations):
  for i in range(iterations):
    next_p = p - (f(p)/fprime(p))
    p = next_p
  return p

# Use Newton's method code from HW4 to approximate both roots

Root 1 seems to be located at x = 1

In [1304]:
newtons_method(f, fprime, 1.3, 6)

1.0050247139767874

Root 2 seems to be located at x = -3. Notice that newton's method only took 3 iterations to accurately approximate this root whereas the root at x = 1 took more iterations

In [1305]:
newtons_method(f, fprime, -4, 3)

-3.0005510400881663

# Create a table to analyze the order of convergence to both roots

# Create a table to analyze order of convergence to the root of multiplicty 2 @ x = 1

In [1306]:
#create a table to analyze order of convergence to the root of multiplicty 2 x = 1
import pandas as pd
table = pd.DataFrame(columns = ['n', 'pn','en', 'en/(en-1)', 'en/(en-1)^2', 'en/(en-1)^3'])

In [1307]:
col1 = [0]
col2 = [1.5]
col3 = [0.5]
col4 = ["undefined"]
col5 = ["undefined"]
col6 = ["undefined"]

In [1308]:
for i in range(10):
  col1.append(i+1)
  p_previous = col2[-1]
  #each iteration of Newton's method performed by the next_p line
  next_p = p_previous - (f(p_previous)/fprime(p_previous))
  col2.append(next_p)
  
  #accepted value of this root is x = 1
  error = abs((1)-next_p)
  previous_error = col3[-1]

  col3.append(error)
  col4.append(error/previous_error)
  col5.append((error)/(previous_error**2))
  col6.append((error)/((previous_error**3)))

#populate the table
table['n'] = col1
table['pn'] = col2
table['en'] = col3
table['en/(en-1)'] = col4
table['en/(en-1)^2'] = col5
table['en/(en-1)^3'] = col6

In [1309]:
table

     n        pn        en  en/(en-1) en/(en-1)^2    en/(en-1)^3
0    0  1.500000  0.500000  undefined   undefined      undefined
1    1  1.263158  0.263158   0.526316    1.052632       2.105263
2    2  1.135518  0.135518    0.51497    1.956886       7.436168
3    3  1.068852  0.068852    0.50806    3.749012      27.664223
4    4  1.034715  0.034715   0.504195    7.322929     106.358254
5    5  1.017432  0.017432   0.502142   14.464861     416.679546
6    6  1.008735  0.008735   0.501082   28.745555    1649.044059
7    7  1.004372  0.004372   0.500544   57.305299    6560.654753
8    8  1.002187  0.002187   0.500273  114.423947    26171.39964
9    9  1.001094  0.001094   0.500137   228.66082  104542.981776
10  10  1.000547  0.000547   0.500068  457.134353  417886.514713

# Next, Create a table to analyze order of convergence to the root of multiplicty 1 at x = -3

In [1310]:
table2 = pd.DataFrame(columns = ['n', 'pn','en', 'en/(en-1)', 'en/(en-1)^2', 'en/(en-1)^3'])

In [1311]:
col1 = [0]
col2 = [-4]
col3 = [-3]
col4 = ["undefined"]
col5 = ["undefined"]
col6 = ["undefined"]

In [1312]:
for i in range(6):
  col1.append(i+1)
  p_previous = col2[-1]
  #each iteration of Newton's method performed by the next_p line
  next_p = p_previous - (f(p_previous)/fprime(p_previous))
  col2.append(next_p)
  
  #accepted value of this root is x = 1
  error = abs((-3)-next_p)
  previous_error = col3[-1]

  col3.append(error)
  col4.append(error/previous_error)
  col5.append((error)/(previous_error**2))
  col6.append((error)/((previous_error**3)))

#populate the table
table2['n'] = col1
table2['pn'] = col2
table2['en'] = col3
table2['en/(en-1)'] = col4
table2['en/(en-1)^2'] = col5
table2['en/(en-1)^3'] = col6

In [1313]:
table2

   n        pn            en  en/(en-1) en/(en-1)^2     en/(en-1)^3
0  0 -4.000000 -3.000000e+00  undefined   undefined       undefined
1  1 -3.285714  2.857143e-01  -0.095238    0.031746       -0.010582
2  2 -3.033613  3.361345e-02   0.117647    0.411765        1.441176
3  3 -3.000551  5.510401e-04   0.016393    0.487705       14.509221
4  4 -3.000000  1.517599e-07   0.000275    0.499793      907.000155
5  5 -3.000000  1.154632e-14        0.0    0.501337  3303487.984332
6  6 -3.000000  0.000000e+00        0.0         0.0             0.0

# Problem 1c:

In [1314]:
def aitkens(function, derivative, guess, iterations):
  #get all the sequence values needed to perform n-iterations of aitken's method. For each iteration n, we need 
  #two terms further out in the original sequence (n+2)
  sequence_values = []
  for i in range(iterations+2):
    sequence_values.append(newtons_method(function, derivative, guess, i+1))
  print("Number of iterations : ", iterations+2)
  print("Final approximation: ", sequence_values[-1])
  print("Original sequence: ", sequence_values)
  
  aitkens_sequence = []
  for i in range(iterations):
    #p_n which is the value of the original sequence at iteration i is given by sequence_values[i]
    p_n = sequence_values[i]
    #numerator is the forward difference squared
    numerator = ((sequence_values[i+1] - p_n)**2)
    #denominator is the second order forward difference that we derived
    denominator = (sequence_values[i+2] - (2*sequence_values[i+1]) + p_n)
    #apply aitkens delta squared formula to find the nth term of p-hat
    aitkens_sequence.append((p_n - (numerator/denominator)))
  print("Number of iterations : ", iterations)
  print("Final Approximation: ", aitkens_sequence[-1])
  print("Aitken's Method sequence: ", aitkens_sequence)
  #return the last term in the aitkens sequence AKA the approximation after desired amount of iterations
  return(aitkens_sequence[-1])

Now use the function we coded to verify that aitken's method accelerates the convergence of Newton's method which is known to converge linearly for this function due to the function's root of multiplicity two at x = 1

In [1315]:
aitkens(f, fprime, 1.5, 4)

Number of iterations :  6
Final approximation:  1.0087346920242348
Original sequence:  [1.263157894736842, 1.1355184368105893, 1.068851535414902, 1.0347145937834634, 1.0174316479307843, 1.0087346920242348]
Number of iterations :  4
Final Approximation:  0.9999253360250978
Aitken's Method sequence:  [0.9959584832845672, 0.9988912852889669, 0.999708834820609, 0.9999253360250978]

0.9999253360250978

In [1316]:
aitkens(f, fprime, -4, 4)

Number of iterations :  6
Final approximation:  -3.0
Original sequence:  [-3.2857142857142856, -3.033613445378151, -3.0005510400881663, -3.00000015175987, -3.0000000000000115, -3.0]
Number of iterations :  4
Final Approximation:  -3.0
Aitken's Method sequence:  [-2.995560488346282, -2.9999908172846252, -2.999999999958193, -3.0]

-3.0

# Problem 1e: Find the order of convergence for Newton's method and aitken's method for approximating the root of f(x) at x = 1

In [1317]:
aitkens_table = pd.DataFrame(columns = ['n', 'pn','en', 'en/(en-1)', 'en/(en-1)^2', 'en/(en-1)^3'])

In [1318]:
col1 = [0]
col2 = [1.5]
col3 = [0.5]
col4 = ["undefined"]
col5 = ["undefined"]
col6 = ["undefined"]

In [1319]:
for i in range(10):
  col1.append(i+1)
  p_previous = col2[-1]
  next_p = aitkens(f, fprime, 1.5, i+1)
  col2.append(next_p)
  
  #accepted value of this root is x = 1
  error = abs((1)-next_p)
  previous_error = col3[-1]

  col3.append(error)
  col4.append(error/previous_error)
  col5.append((error)/(previous_error**2))
  col6.append((error)/((previous_error**3)))

#populate the table
aitkens_table['n'] = col1
aitkens_table['pn'] = col2
aitkens_table['en'] = col3
aitkens_table['en/(en-1)'] = col4
aitkens_table['en/(en-1)^2'] = col5
aitkens_table['en/(en-1)^3'] = col6

Number of iterations :  3
Final approximation:  1.068851535414902
Original sequence:  [1.263157894736842, 1.1355184368105893, 1.068851535414902]
Number of iterations :  1
Final Approximation:  0.9959584832845672
Aitken's Method sequence:  [0.9959584832845672]
Number of iterations :  4
Final approximation:  1.0347145937834634
Original sequence:  [1.263157894736842, 1.1355184368105893, 1.068851535414902, 1.0347145937834634]
Number of iterations :  2
Final Approximation:  0.9988912852889669
Aitken's Method sequence:  [0.9959584832845672, 0.9988912852889669]
Number of iterations :  5
Final approximation:  1.0174316479307843
Original sequence:  [1.263157894736842, 1.1355184368105893, 1.068851535414902, 1.0347145937834634, 1.0174316479307843]
Number of iterations :  3
Final Approximation:  0.999708834820609
Aitken's Method sequence:  [0.9959584832845672, 0.9988912852889669, 0.999708834820609]
Number of iterations :  6
Final approximation:  1.0087346920242348
Original sequence:  [1.263157894736842, 1.1355184368105893, 1.068851535414902, 1.0347145937834634, 1.0174316479307843, 1.0087346920242348]
Number of iterations :  4
Final Approximation:  0.9999253360250978
Aitken's Method sequence:  [0.9959584832845672, 0.9988912852889669, 0.999708834820609, 0.9999253360250978]
Number of iterations :  7
Final approximation:  1.0043720988718794
Original sequence:  [1.263157894736842, 1.1355184368105893, 1.068851535414902, 1.0347145937834634, 1.0174316479307843, 1.0087346920242348, 1.0043720988718794]
Number of iterations :  5
Final Approximation:  0.9999810914522622
Aitken's Method sequence:  [0.9959584832845672, 0.9988912852889669, 0.999708834820609, 0.9999253360250978, 0.9999810914522622]
Number of iterations :  8
Final approximation:  1.0021872421834284
Original sequence:  [1.263157894736842, 1.1355184368105893, 1.068851535414902, 1.0347145937834634, 1.0174316479307843, 1.0087346920242348, 1.0043720988718794, 1.0021872421834284]
Number of iterations :  6
Final Approximation:  0.99999524199048
Aitken's Method sequence:  [0.9959584832845672, 0.9988912852889669, 0.999708834820609, 0.9999253360250978, 0.9999810914522622, 0.99999524199048]
Number of iterations :  9
Final approximation:  1.0010939198484181
Original sequence:  [1.263157894736842, 1.1355184368105893, 1.068851535414902, 1.0347145937834634, 1.0174316479307843, 1.0087346920242348, 1.0043720988718794, 1.0021872421834284, 1.0010939198484181]
Number of iterations :  7
Final Approximation:  0.9999988066030455
Aitken's Method sequence:  [0.9959584832845672, 0.9988912852889669, 0.999708834820609, 0.9999253360250978, 0.9999810914522622, 0.99999524199048, 0.9999988066030455]
Number of iterations :  10
Final approximation:  1.0005470346848309
Original sequence:  [1.263157894736842, 1.1355184368105893, 1.068851535414902, 1.0347145937834634, 1.0174316479307843, 1.0087346920242348, 1.0043720988718794, 1.0021872421834284, 1.0010939198484181, 1.0005470346848309]
Number of iterations :  8
Final Approximation:  0.9999997011617966
Aitken's Method sequence:  [0.9959584832845672, 0.9988912852889669, 0.999708834820609, 0.9999253360250978, 0.9999810914522622, 0.99999524199048, 0.9999988066030455, 0.9999997011617966]
Number of iterations :  11
Final approximation:  1.0002735360415977
Original sequence:  [1.263157894736842, 1.1355184368105893, 1.068851535414902, 1.0347145937834634, 1.0174316479307843, 1.0087346920242348, 1.0043720988718794, 1.0021872421834284, 1.0010939198484181, 1.0005470346848309, 1.0002735360415977]
Number of iterations :  9
Final Approximation:  0.9999999252295012
Aitken's Method sequence:  [0.9959584832845672, 0.9988912852889669, 0.999708834820609, 0.9999253360250978, 0.9999810914522622, 0.99999524199048, 0.9999988066030455, 0.9999997011617966, 0.9999999252295012]
Number of iterations :  12
Final approximation:  1.0001367726967614
Original sequence:  [1.263157894736842, 1.1355184368105893, 1.068851535414902, 1.0347145937834634, 1.0174316479307843, 1.0087346920242348, 1.0043720988718794, 1.0021872421834284, 1.0010939198484181, 1.0005470346848309, 1.0002735360415977, 1.0001367726967614]
Number of iterations :  10
Final Approximation:  0.9999999812997327
Aitken's Method sequence:  [0.9959584832845672, 0.9988912852889669, 0.999708834820609, 0.9999253360250978, 0.9999810914522622, 0.99999524199048, 0.9999988066030455, 0.9999997011617966, 0.9999999252295012, 0.9999999812997327]

In [1320]:
aitkens_table

,n,pn,en,en/(en-1),en/(en-1)^2,en/(en-1)^3
0,0,1.500000,5.000000e-01,undefined,undefined,undefined
1,1,0.995958,4.041517e-03,0.008083,0.016166,0.032332
2,2,0.998891,1.108715e-03,0.274331,67.878315,16795.257704
3,3,0.999709,2.911652e-04,0.262615,236.864413,213638.73913
4,4,0.999925,7.466397e-05,0.256432,880.708594,3024773.072664
5,5,0.999981,1.890855e-05,0.253249,3391.844711,45428129.363664
6,6,0.999995,4.758010e-06,0.251633,13307.882509,703802465.100143
7,7,0.999999,1.193397e-06,0.250819,52715.012263,11079215382.17499
8,8,1.000000,2.988382e-07,0.25041,209829.365026,175825289513.810791
9,9,1.000000,7.477050e-08,0.250204,837255.567659,2801701918024.436035
10,10,1.000000,1.870027e-08,0.250102,3344931.739627,44735982689000.929688

# Problem 2b: Implement Steffenson's method

In [1321]:
#returns the next three terms that are used in each proceeding iteration of steffensen's method
#and basically plugs in the p_hat from the last iteration into the fixed point iteration
#twice times to get the next three points that go into the aitkens formula
def get_sequence_values(fpi, p_hat):
  #1st point is the p hat from the previous iteration of steffenson's method
  sequence_values = [p_hat, fpi(p_hat), fpi(fpi(p_hat))]
  return sequence_values

In [1322]:
def steffensen(fpi, guess, iterations):
  #create a list sequence values with the initial po, p1, p2 that are generated
  #with the fixed point iteration
  sequence_values = [guess, fpi(guess), fpi(fpi(guess))]
  steffensen_sequence = []

  for i in range(iterations):
    #print(sequence_values)
    #now we apply aitken's method to our newly generated sequence_values list
    # at each iteration to get the next p hat

    #p_n which is the first term in sequence values
    p_n = sequence_values[0]
    #numerator is the forward difference squared
    numerator = ((sequence_values[1] - p_n)**2)
    #denominator is the second order forward difference that we derived
    denominator = (sequence_values[2] - (2*sequence_values[1]) + p_n)

    #apply aitkens delta squared formula to find the nth term of p-hat, round to 10 decimal places
    steffensen_sequence.append(round((p_n - (numerator/denominator)), 10))

    #****sequence_values list of three points updates after each iteration
    # by using the get_sequence_values function above
    sequence_values = get_sequence_values(fpi, p_n - (numerator/denominator))

  print("Number of iterations : ", iterations)
  print("Final Approximation: ", steffensen_sequence[-1])
  print("Steffensen's Method sequence: ", steffensen_sequence)
  return steffensen_sequence[-1]

In [1323]:
#function for f(x)
def func(x):
  return ((x**3)-(x**2)-(x)+1)
  #function for f'(x)
def derivative(x):
  return ((3*(x**2))-(2*x)-1)
#create a function that is the fixed point iteration of newton's method for our f(x) using the function f(x) and its derivative
def newtons_fpi(x):
  return x - (func(x)/derivative(x))

In [1324]:
steffensen(newtons_fpi, 1.5, 3)

Number of iterations :  3
Final Approximation:  0.9999999994
Steffensen's Method sequence:  [0.976284585, 0.9999288665, 0.9999999994]

0.9999999994

# Generate the table for Steffensen's method to approximate the root to find the order of convergence

In [1325]:
steffensen_table =  pd.DataFrame(columns = ['n', 'pn','en', 'en/(en-1)', 'en/(en-1)^2', 'en/(en-1)^3'])

In [1326]:
col1 = [0]
col2 = [1.5]
col3 = [0.5]
col4 = ["undefined"]
col5 = ["undefined"]
col6 = ["undefined"]

In [1327]:
#run three iterations of Steffensen's method
for i in range(3):
  col1.append(i+1)
  p_previous = col2[-1]
  next_p = steffensen(newtons_fpi, 1.5, i+1)
  col2.append(next_p)
  
  #accepted value of this root is x = 1
  error = abs((1)-next_p)
  previous_error = col3[-1]

  col3.append(error)
  col4.append(error/previous_error)
  col5.append((error)/(previous_error**2))
  col6.append((error)/((previous_error**3)))

#populate the table
steffensen_table['n'] = col1
steffensen_table['pn'] = col2
steffensen_table['en'] = col3
steffensen_table['en/(en-1)'] = col4
steffensen_table['en/(en-1)^2'] = col5
steffensen_table['en/(en-1)^3'] = col6

Number of iterations :  1
Final Approximation:  0.976284585
Steffensen's Method sequence:  [0.976284585]
Number of iterations :  2
Final Approximation:  0.9999288665
Steffensen's Method sequence:  [0.976284585, 0.9999288665]
Number of iterations :  3
Final Approximation:  0.9999999994
Steffensen's Method sequence:  [0.976284585, 0.9999288665, 0.9999999994]

In [1328]:
steffensen_table

   n        pn            en  en/(en-1) en/(en-1)^2  en/(en-1)^3
0  0  1.500000  5.000000e-01  undefined   undefined    undefined
1  1  0.976285  2.371541e-02   0.047431    0.094862     0.189723
2  2  0.999929  7.113350e-05   0.002999    0.126477     5.333128
3  3  1.000000  6.000000e-10   0.000008    0.118578  1666.973717