<a href="https://colab.research.google.com/github/mnocerino23/Numerical-Analysis/blob/main/CSCI166_HW4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Michael Nocerino
# CSCI 166 HW4

# Problem 1:

1a:

In [1]:
import math
import numpy as np

In [3]:
#harcode in the function and its derivative
def f(x):
  return ((27*(x**4)) + (162*(x**3)) - (180*(x**2)) + (62*x) -7)
def fprime(x):
  return ((108*(x**3)) + (486*(x**2)) - (360*x) + 62)

In [4]:
#we want to start at p = 0 and perform ten iterations of Newton's method

In [5]:
def newtons_method(function, derivative, p, iterations):
  for i in range(iterations):
    next_p = p - (f(p)/fprime(p))
    p = next_p
  return p

Newton's method approximation of the root of f(x) using 10 iterations:

In [6]:
newtons_method(f,fprime,0,10)

0.32768450259607224

1a(i): Now create a table to help determine the order of convergence for Newton's method

In [7]:
import pandas as pd
table = pd.DataFrame(columns = ['n', 'pn','en', 'en/(en-1)', 'en/(en-1)^2', 'en/(en-1)^3'])

In [13]:
col1 = [0]
col2 = [0]
col3 = [1/3]
col4 = ["undefined"]
col5 = ["undefined"]
col6 = ["undefined"]

In [15]:
table['n'] = col1
table['pn'] = col2
table['en'] = col3
table['en/(en-1)'] = col4
table['en/(en-1)^2'] = col5
table['en/(en-1)^3'] = col6

In [16]:
table

   n  pn        en  en/(en-1) en/(en-1)^2 en/(en-1)^3
0  0   0  0.333333  undefined   undefined   undefined