<a href="https://colab.research.google.com/github/mnocerino23/Numerical-Analysis/blob/main/CSCI166_HW4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Michael Nocerino
# CSCI 166 HW4

# Problem 1:

1a:

In [16]:
import math
import numpy as np

In [17]:
#harcode in the function and its derivative
def f(x):
  return ((27*(x**4)) + (162*(x**3)) - (180*(x**2)) + (62*x) -7)
def fprime(x):
  return ((108*(x**3)) + (486*(x**2)) - (360*x) + 62)

In [18]:
#we want to start at p = 0 and perform ten iterations of Newton's method

In [19]:
def newtons_method(function, derivative, p, iterations):
  for i in range(iterations):
    next_p = p - (f(p)/fprime(p))
    p = next_p
  return p

Newton's method approximation of the root of f(x) using 10 iterations:

In [20]:
newtons_method(f,fprime,0,10)

0.32768450259607224

1a(i): Now create a table to help determine the order of convergence for Newton's method

In [21]:
import pandas as pd
table = pd.DataFrame(columns = ['n', 'pn','en', 'en/(en-1)', 'en/(en-1)^2', 'en/(en-1)^3'])

In [22]:
col1 = [0]
col2 = [0]
col3 = [1/3]
col4 = ["undefined"]
col5 = ["undefined"]
col6 = ["undefined"]

In [23]:
for i in range(10):
  col1.append(i+1)
  p_previous = col2[-1]
  next_p = p_previous - (f(p_previous)/fprime(p_previous))
  col2.append(next_p)
  
  error = abs((1/3)-next_p)
  previous_error = col3[-1]

  col3.append(error)
  col4.append(error/previous_error)
  col5.append((error)/(previous_error**2))
  col6.append((error)/((previous_error**3)))

In [24]:
table['n'] = col1
table['pn'] = col2
table['en'] = col3
table['en/(en-1)'] = col4
table['en/(en-1)^2'] = col5
table['en/(en-1)^3'] = col6

In [25]:
table

     n        pn        en  en/(en-1) en/(en-1)^2  en/(en-1)^3
0    0  0.000000  0.333333  undefined   undefined    undefined
1    1  0.112903  0.220430    0.66129    1.983871     5.951613
2    2  0.187147  0.146186   0.663187    3.008606    13.648799
3    3  0.236208  0.097125   0.664391    4.544821    31.089202
4    4  0.268729  0.064605   0.665169    6.848583    70.513072
5    5  0.290328  0.043006   0.665676   10.303866   159.491443
6    6  0.304691  0.028642    0.66601   15.486557   360.104916
7    7  0.314251  0.019082    0.66623    23.26044   812.103527
8    8  0.320617  0.012716   0.666377   34.921163  1830.027905
9    9  0.324858  0.008475   0.666474   52.412181  4121.749051
10  10  0.327685  0.005649   0.666538   78.648663  9280.208601

# Problem 1b:

In [36]:
#using a modified version of Newton's method now

In [37]:
def modified_newton(function, derivative, p, iterations):
  for i in range(iterations):
    next_p = p - (3*(f(p)/fprime(p)))
    p = next_p
  return p

In [38]:
modified_newton(f, fprime, 0, 10)

0.3333329873212111

In [39]:
column1 = [0]
column2 = [0]
column3 = [1/3]
column4 = ["undefined"]
column5 = ["undefined"]
column6 = ["undefined"]

In [40]:
for i in range(10):
  column1.append(i+1)
  p_previous = col2[-1]
  next_p = p_previous - (3*(f(p_previous)/fprime(p_previous)))
  column2.append(next_p)
  
  error = abs((1/3)-next_p)
  previous_error = column3[-1]

  column3.append(error)
  column4.append(error/previous_error)
  column5.append((error)/(previous_error**2))
  column6.append((error)/((previous_error**3)))

In [41]:
table2 = pd.DataFrame(columns = ['n', 'pn','en', 'en/(en-1)', 'en/(en-1)^2', 'en/(en-1)^3'])

In [43]:
table2['n'] = column1
table2['pn'] = column2
table2['en'] = column3
table2['en/(en-1)'] = column4
table2['en/(en-1)^2'] = column5
table2['en/(en-1)^3'] = column6

In [44]:
table2

     n        pn        en  en/(en-1)    en/(en-1)^2          en/(en-1)^3
0    0  0.000000  0.333333  undefined      undefined            undefined
1    1  0.333335  0.000001   0.000004       0.000013             0.000039
2    2  0.333335  0.000001        1.0  688746.240045  474371383176.308105
3    3  0.333335  0.000001        1.0  688746.240045  474371383176.308105
4    4  0.333335  0.000001        1.0  688746.240045  474371383176.308105
5    5  0.333335  0.000001        1.0  688746.240045  474371383176.308105
6    6  0.333335  0.000001        1.0  688746.240045  474371383176.308105
7    7  0.333335  0.000001        1.0  688746.240045  474371383176.308105
8    8  0.333335  0.000001        1.0  688746.240045  474371383176.308105
9    9  0.333335  0.000001        1.0  688746.240045  474371383176.308105
10  10  0.333335  0.000001        1.0  688746.240045  474371383176.308105

# Problem 2b:

In [27]:
import numpy as np

In [28]:
def fp_iteration(x):
  return np.cos(x)

In [29]:
#set po to 0.5 as instructed
p_inital = 0.5
pn = p_inital

iterations = 0
#initialize absolute error to a large number so that while loop is able to run for the first time
absolute_error = 100


while absolute_error > (1e-7):
  pn = fp_iteration(pn)
  absolute_error = abs(pn - 0.7390851332)
  #keep track of the number of iterations and print it after the while loop finishes
  iterations +=1
print('Number of Iterations Required: ', iterations)

Number of Iterations Required:  37

# Problem 3c:

In [30]:
n = [0,1,2,3,4,5,6]
p = [0.20]
en = [0.30]
linear = ['undefined']
quad = ['undefined']
cubic = ['undefined']

In [31]:
def g(x):
  return ((2*x) - (2*(x**2)))

In [32]:
for i in range(6):
  p_previous = p[-1]
  pn = g(p_previous)
  p.append(pn)
  
  error = 0.5-pn
  previous_error = en[-1]

  en.append(error)
  linear.append(error/previous_error)
  quad.append((error)/(previous_error**2))
  cubic.append((error)/((previous_error**3)))

In [33]:
results = pd.DataFrame(columns = ['n','pn','en', 'en/(en-1)', 'en/(en-1)^2', 'en/(en-1)^3'])

In [34]:
results['n'] = n
results['pn'] = p
results['en'] = en
results['en/(en-1)'] = linear
results['en/(en-1)^2'] = quad
results['en/(en-1)^3'] = cubic

Perform 7 iterations of the fixed point iteration and look at results:

*  We have shown that pn converges to 0.5.

*   Looking at the en/(en-1)^2 column in the results Dataframe as well affirms that the convergence is quadratic (of order 2) and converges to a lambda value of 2 as expected from the result of theorem.

In [35]:
results

   n        pn            en  en/(en-1) en/(en-1)^2      en/(en-1)^3
0  0  0.200000  3.000000e-01  undefined   undefined        undefined
1  1  0.320000  1.800000e-01        0.6         2.0         6.666667
2  2  0.435200  6.480000e-02       0.36         2.0        11.111111
3  3  0.491602  8.398080e-03     0.1296         2.0        30.864198
4  4  0.499859  1.410555e-04   0.016796         2.0       238.149672
5  5  0.500000  3.979331e-08   0.000282         2.0     14178.816601
6  6  0.500000  3.164136e-15        0.0    1.998182  50214025.676079