<a href="https://colab.research.google.com/github/mnocerino23/Numerical-Analysis/blob/main/CSCI166_HW8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Question 1c:

In [134]:
import numpy as np
import numpy.linalg as nplinalg
import pandas as pd

In [135]:
newton = pd.DataFrame(columns = ['Iteration', 'Solution', 'Error', 'Residual'])

In [136]:
iteration = []
x_ns = []
errors = []
residuals = []

In [137]:
solution_1 = np.array([[-2/3], [-4/3], [4/3]])
solution_2 = np.array([[-6/7], [-12/7], [4/7]])

In [138]:
#start with an initial guess of x1 = 15, x2 = 15, x3 = 15
x1, x2, x3 = 15, 15, 15

for i in range(20):
  iteration.append(i+1)
  Jacobian = np.array([[2, -3, 1],[2, 1, -1],[2*x1, 2*x2, 2*x3]])
  function = np.array([[(2*x1)-(3*x2)+ x3-4], [(2*x1)+x2-x3+4], [(x1**2) + (x2**2) + (x3**2) - 4]])
  #create the jacobian which has constant values in rows one and two but the third row will
  #change depending on the values of x1, x2, x3 at each iteration
  #solve the linear system for the direction change
  v = np.linalg.solve(Jacobian, function)
  #update values of x1, x2, x3 by subtracting the direction change in the correct compute
  x1 = x1 - v[0][0]
  x2 = x2 - v[1][0]
  x3 = x3 - v[2][0]
  x_n = np.array([[x1], [x2], [x3]])
  x_ns.append(x_n)

In [139]:
newton['Iteration'] = iteration
newton['Solution'] = x_ns

In [140]:
newton

,Iteration,Solution,Error,Residual
0,1,"[[2.6619047619047613], [5.323809523809524], [1...",NaN,NaN
1,2,"[[0.9513245910325143], [1.9026491820650366], [...",NaN,NaN
2,3,"[[0.09735704840180692], [0.19471409680361162],...",NaN,NaN
3,4,"[[-0.3269958991628914], [-0.6539917983257831],...",NaN,NaN
4,5,"[[-0.5340225196042021], [-1.0680450392084044],...",NaN,NaN
5,6,"[[-0.6280623647862181], [-1.2561247295724363],...",NaN,NaN
6,7,"[[-0.6610993271847055], [-1.3221986543694106],...",NaN,NaN
7,8,"[[-0.6665129285820413], [-1.3330258571640825],...",NaN,NaN
8,9,"[[-0.6666665427808066], [-1.3333330855616132],...",NaN,NaN
9,10,"[[-0.666666666666586], [-1.3333333333331723], ...",NaN,NaN
10,11,"[[-0.6666666666666664], [-1.333333333333333], ...",NaN,NaN
11,12,"[[-0.6666666666666664], [-1.333333333333333], ...",NaN,NaN
12,13,"[[-0.6666666666666664], [-1.333333333333333], ...",NaN,NaN
13,14,"[[-0.6666666666666664], [-1.333333333333333], ...",NaN,NaN
14,15,"[[-0.6666666666666664], [-1.333333333333333], ...",NaN,NaN
15,16,"[[-0.6666666666666664], [-1.333333333333333], ...",NaN,NaN
16,17,"[[-0.6666666666666664], [-1.333333333333333], ...",NaN,NaN
17,18,"[[-0.6666666666666664], [-1.333333333333333], ...",NaN,NaN
18,19,"[[-0.6666666666666664], [-1.333333333333333], ...",NaN,NaN
19,20,"[[-0.6666666666666664], [-1.333333333333333], ...",NaN,NaN

# Question 2c:

In [141]:
#function f(x) will be the ln(x). In python's numpy we use np.log(x) for natural log
def f(x):
  return np.log(x)

In [142]:
#the known derivative of ln(x) = 1/x
def f_prime(x):
  return (1/x)

In [143]:
def derivative_approximation(x, h):
  numerator = f(x+(2*h)) - f(x-h)
  return numerator/(3*h)

In [144]:
x_o = []
derivative_value = []
h_value = [0.5,0.25,0.125,0.0625, 0.03125,0.015625, 0.0078125, 0.00390625, 0.001953125]
derivative_approx = []
error = []

In [145]:
x_naught = 2

In [146]:
for value in h_value:
  x_o.append(x_naught)
  d_value = 1/2
  derivative_value.append(d_value)
  d_approx = derivative_approximation(2, value)
  derivative_approx.append(d_approx)
  error.append(abs(d_value - d_approx))

In [147]:
results = pd.DataFrame(columns = ['x naught', 'f prime', 'f prime approximation', 'h-value', 'error'])

In [148]:
results['x naught'] = x_o
results['f prime'] = derivative_value
results['f prime approximation'] = derivative_approx
results['h-value'] = h_value
results['error'] = error

# Final table for our approximations of first derivative of ln(x):

From our table below, we see that as the h-value is halved, the error between the approximation and the actual value of the derivative is also roughly halved at each iteration.

In [149]:
results

   x naught  f prime  f prime approximation   h-value     error
0         2      0.5               0.462098  0.500000  0.037902
1         2      0.5               0.475567  0.250000  0.024433
2         2      0.5               0.486191  0.125000  0.013809
3         2      0.5               0.492658  0.062500  0.007342
4         2      0.5               0.496214  0.031250  0.003786
5         2      0.5               0.498077  0.015625  0.001923
6         2      0.5               0.499031  0.007812  0.000969
7         2      0.5               0.499514  0.003906  0.000486
8         2      0.5               0.499756  0.001953  0.000244