<a href="https://colab.research.google.com/github/mnocerino23/Numerical-Analysis/blob/main/CSCI166_HW4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Michael Nocerino
# CSCI 166 HW4

# Problem 1:

1a:

In [336]:
import math
import numpy as np

In [337]:
#harcode in the function and its derivative
def f(x):
  return ((27*(x**4)) + (162*(x**3)) - (180*(x**2)) + (62*x) -7)
def fprime(x):
  return ((108*(x**3)) + (486*(x**2)) - (360*x) + 62)

In [338]:
#we want to start at p = 0 and perform ten iterations of Newton's method

In [339]:
def newtons_method(function, derivative, p, iterations):
  for i in range(iterations):
    next_p = p - (f(p)/fprime(p))
    p = next_p
  return p

Newton's method approximation of the root of f(x) using 10 iterations:

In [340]:
newtons_method(f,fprime,0,10)

0.32768450259607224

1a(i): Now create a table to help determine the order of convergence for Newton's method

In [341]:
import pandas as pd
table = pd.DataFrame(columns = ['n', 'pn','en', 'en/(en-1)', 'en/(en-1)^2', 'en/(en-1)^3'])

In [342]:
col1 = [0]
col2 = [0]
col3 = [1/3]
col4 = ["undefined"]
col5 = ["undefined"]
col6 = ["undefined"]

In [343]:
table['n'] = col1
table['pn'] = col2
table['en'] = col3
table['en/(en-1)'] = col4
table['en/(en-1)^2'] = col5
table['en/(en-1)^3'] = col6

In [344]:
table

   n  pn        en  en/(en-1) en/(en-1)^2 en/(en-1)^3
0  0   0  0.333333  undefined   undefined   undefined

In [345]:
table['n'] = col1
table['pn'] = col2
table['en'] = col3
table['en/(en-1)'] = col4
table['en/(en-1)^2'] = col5
table['en/(en-1)^3'] = col6

# Problem 2b:

In [352]:
import numpy as np

In [353]:
def fp_iteration(x):
  return np.cos(x)

In [358]:
#set po to 0.5 as instructed
p_inital = 0.5
pn = p_inital

iterations = 0
#initialize absolute error to a large number so that while loop is able to run for the first time
absolute_error = 100


while absolute_error > (1e-7):
  pn = fp_iteration(pn)
  absolute_error = abs(pn - 0.7390851332)
  #keep track of the number of iterations and print it after the while loop finishes
  iterations +=1
print('Number of Iterations Required: ', iterations)

Number of Iterations Required:  37

# Problem 3c:

In [346]:
n = [0,1,2,3,4,5,6]
p = [0.20]
en = [0.30]
linear = ['undefined']
quad = ['undefined']
cubic = ['undefined']

In [347]:
def g(x):
  return ((2*x) - (2*(x**2)))

In [348]:
for i in range(6):
  p_previous = p[-1]
  pn = g(p_previous)
  p.append(pn)
  
  error = 0.5-pn
  previous_error = en[-1]

  en.append(error)
  linear.append(error/previous_error)
  quad.append((error)/(previous_error**2))
  cubic.append((error)/((previous_error**3)))

In [349]:
results = pd.DataFrame(columns = ['n','pn','en', 'en/(en-1)', 'en/(en-1)^2', 'en/(en-1)^3'])

In [350]:
results['n'] = n
results['pn'] = p
results['en'] = en
results['en/(en-1)'] = linear
results['en/(en-1)^2'] = quad
results['en/(en-1)^3'] = cubic

Perform 7 iterations of the fixed point iteration and look at results:

*  We have shown that pn converges to 0.5.

*   Looking at the en/(en-1)^2 column in the results Dataframe as well affirms that the convergence is quadratic (of order 2) and converges to a lambda value of 2 as expected from the result of theorem.

In [351]:
results

   n        pn            en  en/(en-1) en/(en-1)^2      en/(en-1)^3
0  0  0.200000  3.000000e-01  undefined   undefined        undefined
1  1  0.320000  1.800000e-01        0.6         2.0         6.666667
2  2  0.435200  6.480000e-02       0.36         2.0        11.111111
3  3  0.491602  8.398080e-03     0.1296         2.0        30.864198
4  4  0.499859  1.410555e-04   0.016796         2.0       238.149672
5  5  0.500000  3.979331e-08   0.000282         2.0     14178.816601
6  6  0.500000  3.164136e-15        0.0    1.998182  50214025.676079